.vs/
obj/
bin/
*.user
.idea/
*.pyc
*prod*
*.index
*.index2
ignore.txt
*.7z
deploy/
ResLogger2.Web/testing/
ResLogger2.LocalTools/
ResLogger2.PatchExtractor/
tmp/
*.sh
*.db
appsettings.json
appsettings.Development.json
launchSettings.json