<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rl2 stats</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
{% if data %}
    <table>
    <tr>
        <th>id</th>
        <th>total</th>
        <th>found</th>
        <th>percent</th>
    </tr>
    {% for index in data %}
        <tr>
            <td>{{ '%06x.win32.index2' % index['id'] }}</td>
            <td>{{ index['total'] }}</td>
            <td>{{ index['found'] }}</td>
            {% if index['total'] > 0 %}
                <td>{{ '%0.2f' % (index['found'] / index['total'] * 100) }}%</td>
            {% else %}
                <td>0%</td>
            {% endif %}
        </tr>
    {% endfor %}

{% else %}
    <p>No stats</p>
{% endif %}
</body>
</html>