@page
@model ResLogger2.Web.Pages.Downloads

@{
    ViewData["Title"] = "Downloads";
}

<style>
pre {-moz-tab-size: 4;}
pre {tab-size: 4;}
</style>

<div class="text-center">
	<h1 class="display-4">Notice</h1>
	<h3>There is a known issue with Reslogger2's web service wherein it does not recognize some new paths in ex3. This is actively being looked into.</h3>
</div>
<div class="text-center">
    <h1 class="display-4">Downloads</h1>
</div>
<p>ResLogger2 offers the current path list in multiple forms:</p>
<ul>
	<li><a href="/download/export/PathList.gz">PathList.gz</a>, for automation of code that uses the entire database's path list.</li>
	<li><a href="/download/export/PathList.zip">PathList.zip</a>, a zip containing a text file for individuals that want to use or store the entire database's path list.</li>
	<li><a href="/download/export/CurrentPathList.gz">CurrentPathList.gz</a>, for automation of code that uses only files that exist in the current game version from the database's path list.</li>
	<li><a href="/download/export/CurrentPathList.zip">CurrentPathList.zip</a>, a zip containing a text file for individuals that want to use or store a list of only files that exist in the current game version from the database's path list.</li>
	<li><a href="/download/export/PathListWithHashes.gz">PathListWithHashes.gz</a>, the same as <b>PathList.gz</b> but contains a csv with index ids and all three hashes included for every path.</li>
	<li><a href="/download/export/PathListWithHashes.zip">PathListWithHashes.zip</a>, the same as <b>PathList.zip</b> but contains a csv with index ids and all three hashes included for every path.</li>
	<li><a href="/download/export/CurrentPathListWithHashes.gz">CurrentPathListWithHashes.gz</a>, the same as <b>CurrentPathList.gz</b> but contains a csv with index ids and all three hashes included for every path.</li>
	<li><a href="/download/export/CurrentPathListWithHashes.zip">CurrentPathListWithHashes.zip</a>, the same as <b>CurrentPathList.zip</b> but contains a csv with index ids and all three hashes included for every path.</li>
</ul>
<p>
	Please note that every path list that contains hashes is about 4 times the size of the lists without. Please only use the path lists with hashes if you actually need them.
	Each path list with hashes includes a CSV header of: <code>indexid,folderhash,filehash,fullhash,path</code>
</p>
<p>All path list files are regenerated every 12 hours.</p>
<h2>Example</h2>
<p>Here is an example of how to use the PathList.gz file in a C# program:</p>
<pre><code class="language-c#">public static void PrintPathList()
{
	var url = @@"https://rl2.perchbird.dev/download/export/PathList.gz";
	using var httpClient = new HttpClient();
	var stream = new GZipStream(httpClient.GetStreamAsync(url).Result, CompressionMode.Decompress);
	var pathList = new StreamReader(stream).ReadToEnd();
	var lines = pathList.Split("\n");
	foreach (var line in lines)
	{
		Console.WriteLine(line);
	}
}
</code></pre>
<p>Here is a Rust example, using <a href="https://docs.rs/reqwest/latest/reqwest/">reqwest</a> and <a href="https://docs.rs/flate2/latest/flate2/">flate2</a>:</p>
<pre><code class="language-rust">fn print_path_list() {
	let url = "https://rl2.perchbird.dev/download/export/PathList.gz";
	let bytes = reqwest::blocking::get(url).unwrap().bytes().unwrap();
	let mut decoder = GzDecoder::new(&bytes[..]);
	let mut content = String::new();
	decoder.read_to_string(&mut content).unwrap();
	let v: Vec<&str> = content.split('\n').collect();

	for str in v {
		println!("{str}");
	}
}
</code></pre>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/dark.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script>
hljs.highlightAll();
</script>